@import '~bootstrap/scss/bootstrap';

.change-password {
  display: flex;
  justify-content: center;
}

.get-games-history {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.landingPage {
  height: 25vh;
}

.table {
  display: flex;
  justify-content: center;
}

td {
  border: 3px solid;
  height: 200px;
  width: 200px;
  font-size: 100px;
  text-align: center;
}

.row {
  border: 3px solid;
  margin-left: 15px;
}

.playerOptions {
  display: flex;
  justify-content: center;
}

.playComputer {
  margin: 5px;
  padding: 5px;
}

.playYourSelf {
  margin: 5px;
  padding: 5px;
}

.subheader {
  display: flex;
  justify-content: center;
}

.sign-in {
  display: flex;
  justify-content: center;
}

.sign-up {
  display: flex;
  justify-content: center;
}

.sign-out {
  display: flex;
  justify-content: center;
}

.total-games {
  display: flex;
  justify-content: center;
}
